# PORT

PORT=3000

# DB connection
DATABASE_URL=postgres://pbqijvrezyehgk:77eb01694ecf7402678ce7b6dfaeb2628e8f37914a7eae9a0496e5f5b1a707c4@ec2-34-194-158-176.compute-1.amazonaws.com:5432/d6ibrlg0qhcckt
DEV_DATABASE_URL="postgres://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}"
TEST_DATABASE_URL="postgres://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}"
DATABASE_URL="postgres://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}"

#api token

PGPORT=5432
POSTGRES_DB=POSTGRESDB
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PSW

#JWT
JWT_KEY=newUserKey
JWT_SECRET=secret
JWT_EXPIRES_IN=time
JWT_COOKIE_EXPIRES_IN=time 

#node environment

NODE_ENV=test | development | production

