
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite team | Social login</title>
</head>
<body>
    <form action="http://localhost:3000/auth/google">
        <button>Continue with Google</button>
    </form>
    <form action="http://localhost:3000/auth/facebook">
        <button>Continue with Facebook</button>
    </form>
</body>

<style>
    /* Set a style for the buttons buttons */
    button {
      background-color: #59a4d6;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 30%;
      margin-left: 33%;
    }
</style>    
</html>


